@using System
@using System.Linq


<h2>Issues</h2>

@{
    if (!Request.Cookies.Keys.Cast<String>().Any(e => e.Equals("github", StringComparison.InvariantCultureIgnoreCase)))
    {
        <a class="btn btn-info" href="/github/requestcode">
            <i class="fa fa-fw fa-github"></i>
            Allow access to github
        </a>
        <br />
    }
    else
    {
        <div class="row">
            <div class="col-md-8">
                <github-issues-list></github-issues-list>
            </div>
            <div class="col-md-4">
                <google-task-lists></google-task-lists>
            </div>    
        </div>
    }
}

<hr/>

<a class="btn btn-primary" href="/Logout">
    <i class="fa fa-fw fa-lock"></i>
    Logout
</a>
