@using System
@using System.Linq

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    if (Response.Cookies.Keys.Cast<String>().Any(e => e.Equals("github", StringComparison.InvariantCultureIgnoreCase)))
    {
        <a href="/github/requestcode">Github access</a><br />
    }
}

<a href="/Logout">Logout</a>